In [43]:
import pandas as pd
reviews=pd.read_csv("winemag-data-130k-v2.csv")
reviews.head(1)

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

#What is the median of the points column in the reviews DataFrame?

In [44]:
points_median=reviews.points.median()
points_median

88.0

#What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [45]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

#How often does each country appear in the dataset? Create a Series reviews_per_country mapping countries to the count of reviews of wines from that country

In [46]:
reviews_per_country=reviews.country.value_counts()
reviews_per_country
#len(reviews_per_country)

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

#Create variable centered_price containing a version of the price column with the mean price subtracted.

In [47]:
centered_price= reviews.price - reviews.price.mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

#I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

In [48]:
bargain_index=((reviews.points)/(reviews.price)).idxmax()
bargain_wine=reviews.loc[bargain_index,"title"]
bargain_wine

'Bandit NV Merlot (California)'

 #There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset. (For simplicity, let's ignore the capitalized versions of these words.)

In [49]:
true=0
false=0
for description in reviews["description"]:
    if "tropical" in description:
        true+=1
    if "fruity" in description:
        false+=1

descriptor_counter=pd.Series([true,false],index=["tropical","fruity"])
descriptor_counter

tropical    3607
fruity      9090
dtype: int64

#We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset.

In [55]:
for i,(points_c,country_c) in enumerate(zip(reviews["points"],reviews["country"])):
    if points_c >=95 and not country_c=="Canada":
        reviews.points[i]=3
    if points_c >=85 and points_c <95 and not country_c=="Canada":
        reviews.points[i]=2
    if country_c=="Canada":
        reviews.points[i]=3
    if points_c<85 and not country_c=="Canada":
        reviews.points[i]=1

star_ratings=reviews["points"]
star_ratings

C:\Users\nirob\AppData\Local\Temp\ipykernel_15836\3747155382.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews.points[i]=1
C:\Users\nirob\AppData\Local\Temp\ipykernel_15836\3747155382.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews.points[i]=3

0         1
1         1
2         1
3         1
4         1
         ..
129966    1
129967    1
129968    1
129969    1
129970    1
Name: points, Length: 129971, dtype: int64

In [ ]:
#another solution
star1=0
star2=0
star3=0
for points_c,country_c in zip(reviews["points"],reviews["country"]):

    if points_c >=95 and not country_c=="Canada":
        star3+=1
    if points_c >=85 and points_c <95 and not country_c=="Canada":
        star2+=1
    if country_c=="Canada":
        star3+=1
    if points_c<85 and not country_c=="Canada":
        star1+=1

star_ratings=pd.Series([star3,star2,star1],index=["3","2","1"])