In [12]:
import pandas as pd

In [13]:
ingredients = pd.Series(["4 cups","1 cup","2 large","1 can"],index=["Flour","Milk","Eggs","Spam",],name="Dinner")

# Check your answer
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [14]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [15]:
# Creating a CSV File using DataFrame
animals=pd.DataFrame([[12,22],[20,19]],columns=["Cows","Goats"],index=["Year 1","Year 2"])
animals.to_csv("cows_and_goats.csv")
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [16]:
#load data from CSV file
data=pd.read_csv("cows_and_goats.csv",index_col=0)
data

        Cows  Goats
Year 1    12     22
Year 2    20     19